
ion-textarea {
    border: 1px solid black;
    width: 30%;
    margin: 10px auto;
}

.preview {
    display: block;
    width: 300px;
    padding: 10px;
    text-align: center;
    margin: 10px auto;
    background: blue;
    border: 10px black solid;
    color: whitesmoke;
  }
  
  .preview img {
    width: 300px;
  }